<link rel="stylesheet" href="inicio.component.css">

<body class="mulish-fonte">
    <header>
        <h1 class="bem-vindo">
            <strong>
                Bem-Vindo(a)
            </strong>
            <p>Selecione uma plataforma:</p>
        </h1>
    </header>
    <main>
        <section class="menu">
            <button class="botao-inicio" (click)="irParaCardapio()">
                Cardápio
                <div>
                    <img src="https://img.freepik.com/vetores-premium/menu-restaurante-icone_946691-1355.jpg" alt="icone-cardapio">
                </div>
            </button>

            <button class="botao-inicio" (click)="irParaCardapio()">
                Cozinha
                <div>
                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p3/18037239-icone-de-cozinha-para-seu-site-celular-apresentacao-e-design-de-logotipo-gratis-vetor.jpg" alt="icone de cozinha">
                </div>
            </button>

            <button class="botao-inicio" (click)="irParaCardapio()">
                Entregador
                <div>
                    <img src="https://img.freepik.com/vetores-premium/um-entregador-de-motocicleta-em-um-fundo-branco-com-espaco-de-copia_625455-2101.jpg" alt="icone-entregador">
                </div>
            </button>

            <button class="botao-inicio" (click)="irParaGerencia()">
                Gerência
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaP_ZE2IVbs1drtpQINzJIGHIyv5Zt5tfraQ&s" alt="icone-gerente">
                </div>
            </button>
    
        </section>
    </main>
    
</body>

