<section>
    <div id="detalhes-pedido">
        <h1>{{ nomeCliente }}</h1>
        <p id="pedido-e-status">1 pedido - Pendente </p>
        <p id="numero-pedido">Pedido Nº {{ numeroPedido }} </p>
    </div>
    
    <form id="detalhes-botao">
        <input type="number" placeholder="Digite o código do cliente" (input)="onInputChange($event); limitDigits($event)"/>
        <button type="button" [ngClass]="{'active-button': isButtonActive}" (click)="abrirDiaPagCon()">Confirmar</button>
    </form>
</section>