section {
    height: 100svh;
    background-color: var(--fundo-telas);
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--branco-figma);
}

.pedidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 41px 15px 0 19px;
    gap: 13px;
}
