<section>
    <div id="endereco">
        <div id="dados">
            <h2 *ngIf="!esconderH2">{{ pedido?.nomeCliente }}</h2>
            <p>Endereço de Entrega</p>
            <p>{{ pedido?.endereco }}</p>
        </div>
        <div class="botao">
            <button id="botao-da-rota" (click)="abrirRota()">
                <div>
                    <img src="assets/mapa.png" alt="imagem-da-rota">
                    <p>Mapa</p>
                </div>
            </button>
        </div>
        
    </div>
    
    <app-previsao-de-entrega *ngIf="mostrarPrevisaoEntrega"></app-previsao-de-entrega>
    <!-- <app-dialog-confirme-o-pagamento *ngIf="mostrarDiaPagamento"></app-dialog-confirme-o-pagamento>           -->
    <app-entregador-info-cliente-e-pedido *ngIf="codigoClienteConfirmado"></app-entregador-info-cliente-e-pedido>
 
    <div>
        <button id="botao-c-entrega" (click)="openDialog()">
          {{ pagamentoConfirmado ? 'Confirmar o pagamento' : 'Cheguei na entrega' }}
        </button>
      </div>
</section>