<section class="pedido">
  <div class="info-pedido-pai" [ngClass]="{ 'pedido-nao-aceito': pedido.status === 'não aceito' }">
    <div class="info-pedido">
      <div class="texto-branco">{{ pedido.tempo }}</div>
      <div class="texto-branco">{{ pedido.nomeCliente }}</div>
    </div>
    <div class="info-pedido">
      <div class="texto-branco">{{ pedido.horario ? (pedido.horario | date: 'HH:mm') : 'Horário indefinido' }}</div>
      <div class="texto-branco">nº {{ pedido.numeroPedido }}</div>
    </div>
  </div>
  <div id="todos-os-pedidos">
    <div class="detalhes-pedido" *ngFor="let item of pedido.itens">
      <h3 class="texto-preto" id="titulo-h3">{{ item.nomePrato }}</h3>
      <p class="texto-cinza">{{ item.descricao }}</p>
      <p class="texto-cinza">{{ item.observacao || 'Sem observações' }}</p>
    </div>
  </div>
  <div id="botao">
    <button
      class="b-finalizar"
      [ngClass]="{ 'pedido-nao-aceito': pedido.status === 'não aceito' }"
      (click)="pedido.status === 'não aceito' ? aceitarPedido(pedido.id) : finalizarPedido(pedido.id)"
    >
      {{ pedido.status === 'não aceito' ? 'Iniciar Pedido' : 'Finalizar' }}
    </button>
  </div>
</section>
