
header {
    margin: auto;
    max-width: 414px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
}

body {
    max-width: 414px;
    margin: auto;
    text-align: center;
    font-family: "Mulish", sans-serif;
    color: #ffff;
}

h2{
    font-size: 22px;
    margin: 0;
    text-align: center;
}

.botao-voltar{
    position: absolute;
    left: 24px;
}

img {
    max-width: 150px;
    margin-top:86px;
}

.nome{
    margin-top:90px;
    width: 100%;
}

.descricao {
    margin-top:16px;
}

.preco {
    margin-top:16px;
}

button{
    background-color: #FF9A00;
    color: #fff;
    width: 144px;
    height: 42px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    margin-top:250px;
}


