#cpf-entregador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--laranja-figma);
    padding: 20px 60px 20px 60px;
    border-radius: 8px;
}

h1 {
    color: white;
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}