<!-- src/app/components/dish-form/dish-form.component.html -->

<h2>{{ isEdit ? 'Editar Prato' : 'Adicionar um Prato' }}</h2>
<form (ngSubmit)="saveDish()">
  <label for="id">ID:</label>
  <input type="number" id="id" [(ngModel)]="dish.id" name="id" required>

  <label for="name">Nome:</label>
  <input type="text" id="name" [(ngModel)]="dish.name" name="name" required>

  <label for="description">Descrição:</label>
  <input type="text" id="description" [(ngModel)]="dish.description" name="description" required>

  <label for="price">Preço:</label>
  <input type="number" id="price" [(ngModel)]="dish.price" name="price" required>

  <label for="image">Imagem URL:</label>
  <input type="text" id="image" [(ngModel)]="dish.image" name="image" placeholder="Insira a URL da imagem" required>

  <label for="category">Categoria:</label>
  <select id="category" [(ngModel)]="dish.category" name="category" required>
    <option value="">Selecione uma categoria</option>
    <option value="executivos">Executivos</option>
    <option value="porcoes">Porções</option>
    <option value="bebidas">Bebidas</option>
  </select>

  <button type="submit">{{ isEdit ? 'Atualizar' : 'Adicionar' }}</button>
</form>

