<section class="pedido">
    <div class="info-pedido-pai">
        <div class="info-pedido">
            <div class="texto-branco">tempo</div>
            <div class="texto-branco">nome</div>
        </div>
        <div class="info-pedido">
            <div class="texto-branco">horário</div>
            <div class="texto-branco">nº pedido</div>
        </div>
    </div>
    <div class="detalhes-pedido">
        <h3 class="texto-preto" id="titulo-h3">1 Salmão Grelhado</h3>
        <p class="texto-cinza">· 1 aspargo ao vapor</p>
        <p class="texto-cinza">· Sem molho de manteiga</p>
    </div>
    <div id="botao">
        <button class="b-finalizar" >Retirada</button>
    </div>
</section>