<link rel="stylesheet" href="cardapio.component.css">

<body class="mulish-fonte">
    <header>
        <button id="ver-pedidos">
            VER PEDIDOS
        </button>
    </header>

    <main>
        <section class="menu">
            <button class="botao-inicio" (click)="irParaExecutivo()">
                Executivos
                <div>
                    <img src="https://img.freepik.com/vetores-premium/menu-restaurante-icone_946691-1355.jpg" alt="icone-cardapio">
                </div>
            </button>

        </section>
    </main>
    
</body>