<link rel="stylesheet" href="cardapio.component.css">

<body class="mulish-fonte">
    <header>
        <button id="ver-pedidos">
            VER PEDIDOS
        </button>
    </header>

    <main>
        <section class="menu">
            <button class="botao-item-cardapio" (click)="irParaExecutivo()">
                Executivos
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxLaIOnxWtO__gsAA96sn6xLHtqfE7KbUGug&s" alt="icone-cardapio">
                </div>
            </button>
            <button class="botao-item-cardapio" (click)="irParaBebidas()">
                Bebidas
                <div>
                    <img src="https://confeiteiro.agilecdn.com.br/47418.png" alt="icone-cardapio">
                </div>
            </button>
        </section>
    </main>
    
</body>