header {
    margin: auto;
    max-width: 414px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {
    max-width: 414px;
    margin: auto;
    text-align: center;
    font-family: "Mulish", sans-serif;
    color: #ffff;
}


.voltar {
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    max-width: 134px;
    width: 100%;
    height: 32px;
    color: #ffff;
    background-color: #595E65;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#ver-pedidos {
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    max-width: 134px;
    width: 100%;
    height: 32px;
    color: #ffff;
    background-color: #595E65;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.cardapio {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dish-nome h2{
    margin: auto;
    width: 100%;
    font-size: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.dish-info {
    margin: 0;
    display: flex;
    flex-direction: column; 
    font-size: 12px;
}

.cardapio img {
    max-width: 100px;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.menu  {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: auto;

}

.menu img {
    max-width: 100px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu div  {
    align-items: flex-start;
}

.cardapio div {
    align-items: flex-start;
}

.mulish-fonte {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}

.botao-item-cardapio {
    height: auto;
    max-width: 100%;
    margin: 14px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #dad9d90e; 
    color: white;
    font-size: 40px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:10px;
    gap: 20px;
  
  }